/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-actions {
  display: flex !important;
  justify-content: space-between !important;
}

.add-car-btn {
  margin: 1rem auto;
}

.app-layout {
  width: 80%;
  margin: auto;
}

.mat-elevation-z8 {
  width: 100%;
  border: 1px rgb(192, 190, 190) solid;
}

.search{
  max-width: 40%;
  outline: none;
  margin-left: 10px;
  padding: 4px;
  border-radius: 5px ;
  border: 1px gray solid;
}

.form {
  padding: 2rem;
  min-height: 350px;
  min-width: 100px;
  max-width: 400px;   
}

.form-field {
  width: 100%;
}

.delete-dialog>.dialog-actions{
  padding: 0px 24px 20px 24px;
 
}

.description{
  max-width: 500px;
}