<form class="form">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Model</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Year</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Description</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <button mat-raised-button class="add-car-btn" color="primary" (click)="addCar()"> Add Car</button>
</form>